*.psd filter=lfs diff=lfs merge=lfs -text
pack-e55a74f24401abc080da6ddd116109256bbb2709.pack filter=lfs diff=lfs merge=lfs -text
myenv/lib/python3.12/site-packages/tensorflow/libtensorflow_cc.2.dylib filter=lfs diff=lfs merge=lfs -text
