<nav th:fragment="navbarFragment" class="navbar navbar-expand-lg navbar-light" style="background-color: rgba(211, 164, 114, 0.9); position: fixed; top: 0; width: 100%;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/" style="color: #FFFFFF; font-weight: bold">DIALOG</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/}">메인화면</a>
                </li>
                <li class="nav-item" sec:authorize="isAnonymous()">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/user/login}">로그인</a>
                </li>
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/user/logout}">로그아웃</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/diary}">한줄한컷</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/album}">한줄한컷 앨범</a>
                </li>
                <li class="nav-item">
                    <form action="/redirectToDiaryAnalysis" method="get">
                        <button class="nav-link" style="color: #FFFFFF;">얼굴 찌뿌리지 말아요</button>
                    </form>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/question/list}">쉼터</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/myInfo}">내 정보</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" style="color: #FFFFFF;" th:href="@{/user/signup}">회원가입</a>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item" sec:authorize="isAuthenticated()">
                    <span class="nav-link" style="color: #FFFFFF;">
                        <i class="fa-solid fa-user"></i>
                        <a th:href="@{/myInfo}" style="color: #FFFFFF;"><span th:text="${@userService.getUserNickname(#authentication.principal.username)}"></span></a>님
                    </span>
                </li>
            </ul>
        </div>
    </div>
</nav>